* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: #1d1f2e;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

ul {
  list-style: none;
}

p{
        margin-bottom: 15px;
}

a {
  text-decoration: none;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
}

/* a:hover{
    border-bottom-color: rgba(162, 95, 75, 0.8);
    color: #743f2f;
} */

img {
  max-width: 100%;
  vertical-align: middle;
}

.label{
    position: static;
    display: block;
    opacity: 0.6;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paragraph{
    color: rgba(29, 31, 46, 0.7);
}

/* Class chung */
.white-button{
    position: absolute;
    display: block;
    padding: 18px 24px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgb(29 31 46 / 10%);
    transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
    color: #1d1f2e;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.menu-item-deco-line {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(162, 95, 75, 0.3);
    opacity: 0;
}

.underlined-link {
    display: inline-block;
    border-bottom: 2px solid rgba(162, 95, 75, 0.2);
    -webkit-transition: color 400ms ease, border-color 400ms ease;
    transition: color 400ms ease, border-color 400ms ease;
}

.underlined-link:hover {
    border-bottom-color: rgba(162, 95, 75, 0.7);
    color: #743f2f;
}

.width-1203{
    width: 1203px;
    margin-left: auto;
    margin-right: auto;
}

.width-940 {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

/* Direction */
.flex.column {
  flex-direction: column;
}

/* Justify */
.flex.j-start {
  justify-content: flex-start;
}

.flex.j-end {
  justify-content: flex-end;
}

.flex.j-center {
  justify-content: center;
}

.flex.j-evenly {
  justify-content: space-evenly;
}

.flex.j-between {
  justify-content: space-between;
}

.flex.j-space-around {
  justify-content: space-around;
}

/* Align */
.flex.a-start {
  align-items: flex-start;
}

.flex.a-end {
  align-items: flex-end;
}

.flex.a-center {
  align-items: center;
}

/* HEADER */

.header {
}

.header-box {
  padding: 25px 0;
}

.header-icon a {
  transition: opacity 400ms ease;
}

.header-icon a img {
  width: 112px;
}

.header-menu-bar {
  margin-left: 70px;
}

.header-menu-list {
}

.header-menu-item {
  margin-right: 30px;
}

.header-menu-item-link {
  font-size: 12px;
  color: #1d1f2e;
  opacity: 0.6;
  line-height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-menu-item-link:hover{
    opacity: 1;
}

.header-cart:hover .cart-icon{
    opacity: 1;
    color: #1d1f2e;
}

.header-cart:hover .cart-text a{
    opacity: 1;
    color: #1d1f2e;
}

.header-cart:hover .cart-count{
    color: #ffffff;
    opacity: 1;
    background-color: #1d1f2e;
}

.cart-icon{
    opacity: 0.7;
    font-weight: 700;
    display: block;
}

.cart-text a{
    font-size: 12px;
  color: #1d1f2e;
  opacity: 0.6;
  line-height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 10px;
}

.cart-count{
    opacity: 0.6;
    height: auto;
    background-color: #1d1f2e;
    color: #fff ;
    border-radius: 9px;
    display: inline-block;
    height: 18px;
    min-width: 18px;
    padding-right: 6px;
    padding-left: 6px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}




/* SLIDER */

.slider-box{
    background-color: #050827;
    margin-bottom: 100px;
}

.slider-img{
    height: 530px;
    background: url("../img/slider-img.jpg" ) center / cover no-repeat; ;
}

.slider-text{
    padding-top: 170px;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.slider-text-top{
    opacity: 0.8;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.slider-text-mid{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 60px;
}

.slider-text-bottom{
    opacity: 0.9;
    font-size: 18px;
    line-height: 30px;
}

.slider-button{
    display: inline-block;
    margin-top: 24px;
    padding: 18px 24px;
    background-color: #ffffff;
    color: #1d1f2e;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.slider-button:hover{
    background-color: #fafafa;
    box-shadow: 0 3px 8px 0 rgb(29 31 46 / 15%);
    opacity: 0.96;
    color: #161724;
}


/* CONTENT */

.content{

}

.wrap{

}

.content-wrap{
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    text-align: center;
}

.content-wrap-link{
    color: #a25f4b;
}

.underlined-link.content-wrap-link{
    margin-top: 10px;
}

.sub-headerline-wrap{
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.sub-headerline-deco{
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #ececed;
}

.headerline-text{
    margin-right: 15px;
    margin-left: 15px;
}

.content-featured{
    margin-bottom: 100px;
    text-align: center;
}

.featured-item{
    flex-basis: 49%;
}

.featured-wrap-img:hover .mug-button{
  display: block;
}

.fertured-link{
  position: relative;
    display: block;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.mug-button{
    display: none;
    bottom: 17px;
    left: 18px;
    right: 18px;
}

.feature-description{
    padding-top: 20px;
    display: block;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    color: #1d1f2e;
    
}

.pic-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.feature-price{
    text-align: center;
    margin-bottom: 40px;
}

.content-product{
  margin-bottom: 100px;
}

.product-item{
    flex-basis: 32%;
}




.content-magazine{
  margin-bottom: 120px;
}

.magazine-item{
  flex-basis: 46%;
}

.magazine-item-img{
  flex-basis: 65%;
}

.magazine-sub-item-img{
  flex-basis: 30%;
}

.sub-item-img-a{
  flex-basis: 46%;
}

.magazine-sub-text-box{
  padding-top: 22px;
}

.magazine-sub-text{
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.magazine-sub-text-top{
  opacity: 0.8;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.magazine-sub-text-mid{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
}

.magazine-sub-text-bottom{
    opacity: 0.9;
    font-size: 18px;
    line-height: 30px;
}

.dark-button{
    display: inline-block;
    margin-top: 24px;
    padding: 18px 24px;
    background-color: #1d1f2e;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dark-button:hover{
    background-color: #2f3247;
    box-shadow: 0 3px 8px 0 rgb(29 31 46 / 15%);
    opacity: 0.96;
    color: #fff;
}


.sink-wrap{
  background: url("../img/sink-img.jpg" ) center / cover no-repeat; ;
  height: 340px;
  margin-bottom: 100px;
  background-attachment: fixed;
}